.container {
  width: 70%;
  margin: auto;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column{
  flex-basis: 100%;
}
.column-full {
  display: none;
  justify-content: center;
}

.grid-item--width2 {
 margin-top: 4px;
  width: 400px;
}
.grid-item--height2 {
  /* height: 225px; */
  width: 133px;
}

@media screen and (min-width: 600px) {
  /* .container {
    width: 690px;
    margin: auto;
  } */
  .column-full {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  .column{
    display: none;
  }
  .grid-item--width2 {
  margin: 3px 2px;
  width: 60%;
  object-fit: cover;
}
.grid-item--height2 {
  margin: 3px 10px;
  width: 30%;
  object-fit: cover;
}
}
@media screen and (min-width: 1100px) {
  /* .container {
    width: 1200px;
  } */
 .grid-item--width2 {
   margin: 5px;
   width: 60%;
 }
  .grid-item--height2 {
    margin: 5px;
    height: 6%;
    width: 30%;
  }
}
