.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  transition: 1s linear;
}
.landscape {
  width: 75%;
  flex-grow: 1;
  margin: 1px 1px;
  object-fit: cover;
  transition: .5s ease-out;
}
.portrait {
  width: 22%;
  flex-grow: 1;
  margin: 1px 1px;
  object-fit: cover;
  transition: .5s ease-out;
}

 @media screen and (min-width: 600px) {
  .landscape {
  width: 60%;
  flex-grow: 2;
}
.portrait {
  width: 19%;
  flex-grow: .2;
}
}

@media screen and (min-width: 700px) {
.landscape {
  width: 45%;
  flex-grow: 8;
}
.portrait {
  width: 20%;
  flex-grow: .5;
}
}


 @media screen and (min-width: 980px) {
  .landscape {
  width: 36%;
}
.portrait {
  width: 13%;
}
}


@media screen and (min-width: 1400px) {
 .landscape {
   width: 30%;
   flex-grow: 3;
 }
  .portrait {
    flex-grow: 1;
    width: 10%;
  }
}
@media screen and (min-width: 1600px) {
 .landscape {
   width: 25%;
   flex-grow: 3;
 }
  .portrait {
    flex-grow: 1;
    width: 10%;
  }
}
